@tailwind base;
@tailwind components;
@tailwind utilities;
.searchBar {
  width: 530px;
  padding: 5px;
}
.slider__image {
  position: relative;
}
.text_description {
  position: absolute;
  top: 200px;
  right: 50px;
}
/* discount */
.discount {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* categories */
.categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.category:hover {
  border: 2px solid blue;
  cursor: pointer;
}
.border__top {
  border-top: 1px solid rgb(186, 181, 181);
}
.border_blue {
  /* border-bottom: 2px solid blue; */
  padding-bottom: 15px;
  width: 200px;
}
/* brand slider */
.brand-slider-image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 400px; */
  text-align: center;
}
.brand-image {
  width: 100%;
  text-align: center;
  height: 400px;
}
